echo "# projeto-curso-gitts" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M master
git remote add origin https://github.com/Samanthanavarro111/projeto-curso-gitts.git
git push -u origin master
